In [6]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [13]:
df=pd.read_csv('https://drive.google.com/u/0/uc?id=1f_lwmsFZ8UP0XkMeI45RtM4cpZrKcDTX&export=download',header=None)
df.rename({0:'Date'},axis=1,inplace=True)
df

             Date     1                  2
0      2000-01-01     1             yogurt
1      2000-01-01     1               pork
2      2000-01-01     1      sandwich bags
3      2000-01-01     1         lunch meat
4      2000-01-01     1       all- purpose
...           ...   ...                ...
22338  2002-02-26  1139               soda
22339  2002-02-26  1139  laundry detergent
22340  2002-02-26  1139         vegetables
22341  2002-02-26  1139            shampoo
22342  2002-02-26  1139         vegetables

[22343 rows x 3 columns]

In [11]:
df[3]=1
data_gr = (df.groupby([1,2])[3].sum().unstack().reset_index().fillna(0) .set_index(1))

def encode_units(x): 
  if x <= 0: return 0 
  if x >= 1: return 1 
data_sets = data_gr.applymap(encode_units) 
data_sets

2     all- purpose  aluminum foil  bagels  ...  vegetables  waffles  yogurt
1                                          ...
1                1              1       0  ...           1        0       1
2                0              1       0  ...           1        1       1
3                0              0       1  ...           1        0       0
4                1              0       0  ...           0        0       0
5                1              0       0  ...           1        1       1
...            ...            ...     ...  ...         ...      ...     ...
1135             1              0       0  ...           0        0       0
1136             0              0       0  ...           1        0       0
1137             0              0       1  ...           1        0       1
1138             1              0       0  ...           1        1       1
1139             0              0       0  ...           1        0       0

[1139 rows x 38 columns]

In [10]:
ap = apriori(data_sets, min_support=0.3, use_colnames=True)

ar = association_rules(ap, metric="lift", min_threshold=1) # create association rules
# rules.loc[rules['lift'] == rules['lift'].max()] # select rules with the highest lift
ar

                       antecedents  ... conviction
0                     (vegetables)  ...   1.061907
1                  (aluminum foil)  ...   1.359651
2                         (bagels)  ...   1.180118
3                     (vegetables)  ...   1.034943
4                        (cereals)  ...   1.212377
5                     (vegetables)  ...   1.042214
6                        (cheeses)  ...   1.247699
7                     (vegetables)  ...   1.047012
8                     (vegetables)  ...   1.047891
9                   (dinner rolls)  ...   1.255592
10                    (vegetables)  ...   1.045139
11  (dishwashing liquid/detergent)  ...   1.239287
12                          (eggs)  ...   1.607989
13                    (vegetables)  ...   1.093139
14                    (vegetables)  ...   1.018879
15                     (ice cream)  ...   1.086081
16             (laundry detergent)  ...   1.422600
17                    (vegetables)  ...   1.068134
18                    (lunch meat)  ...   1.235155
19                    (vegetables)  ...   1.045872
20                    (vegetables)  ...   1.049919
21                       (poultry)  ...   1.227083
22                    (vegetables)  ...   1.038534
23                          (soda)  ...   1.196247
24                       (waffles)  ...   1.300878
25                    (vegetables)  ...   1.056064
26                    (vegetables)  ...   1.084123
27                        (yogurt)  ...   1.543388

[28 rows x 9 columns]